<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/head.j2" %}
    <title>Feeds | rdr</title>
</head>

<body>
    <h1>Feeds</h1>
    {% include "partials/nav.j2" %}
    <ol>
        {% for category in categories %}
        <li>{{ category.name() }}</li>
        <ul>
            {% for feed in category.feeds %}
            <li><a href="{{ feed.html_url() }}">{{ feed.title() }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ol>
</body>

</html>