<!DOCTYPE html>
<html>

<head>
  <title>feeds | rdr</title>
  <link rel="stylesheet" type="text/css" href="/pico.min.css" />
</head>

<body>
  <main class="container">
    <h1>rdr</h1>
    {% include "nav.j2" %}
    <h2>categories &amp; feeds</h2>
    <p>{{ categories.len() }} categories</p>
    <ol>
      {% for category in categories %}
      <li>{{ category.name }}, {{ category.feeds.len() }} feeds</li>
      <ol>
        {% for feed in category.feeds %}
        {% if feed.html_url.is_empty() %}
        <li>{{ feed.title }}</li>
        {% else %}
        <li><a href="{{ feed.html_url }}" target="_blank" rel="noopener noreferrer">{{ feed.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ol>
      {% endfor %}
    </ol>
  </main>
  <script src="/htmx.js"></script>
</body>

</html>