<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/head.j2" %}
    <title>Feeds | rdr</title>
</head>

<body>
    <h1>Feeds</h1>
    {% include "partials/nav.j2" %}
    <blockquote>
        <div>{{ categories.len() }} categories found.</div>
    </blockquote>
    <ol>
        {% for category in categories %}
        <li>{{ category.name() }} <code>{{ category.feeds_count() }} feeds</code></li>
        <ol>
            {% for feed in category.feeds %}
            <li><a href="{{ feed.html_url() }}" target="_blank" rel="nofollow noopener">{{ feed.title }}</a></li>
            {% endfor %}
        </ol>
        {% endfor %}
    </ol>
</body>

</html>