<!DOCTYPE html>
<html>

<head>
  <title>rdr</title>
  <link rel="stylesheet" type="text/css" href="/pico.min.css" />
</head>

<body>
  <main class="container">
    <h1>rdr</h1>
    {% include "nav.j2" %}
  </main>
  <script src="/htmx.js"></script>
</body>

</html>