<!DOCTYPE html>
<html>

<head>
  <title>rdr</title>
  <link rel="stylesheet" type="text/css" href="/pico.min.css" />
</head>

<body>
  <main class="container">
    <h1>rdr</h1>
    <h2>categories &amp; feeds</h2>
    <p>{{ categories.len() }} categories</p>
    <ol>
      {% for category in categories %}
      <li>{{ category.text }}, {{ category.outlines.len() }} feeds</li>
      <ol>
        {% for feed in category.outlines %}
        {% match feed.html_url %}
        {% when Some with (html_url) %}
        <li><a href="{{ html_url }}" target="_blank" rel="noopener noreferrer">{{ feed.text }}</a></li>
        {% when None %}
        <li>{{ feed.text }}</li>
        {% endmatch %}
        {% endfor %}
      </ol>
      {% endfor %}
    </ol>
  </main>
  <script src="/htmx.js"></script>
</body>

</html>